.box div {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
p {
    width: 150px;
    text-align: right;
}

.box {
    
    text-align: center;

}
button{
    border: none;
    width: 140px;
    height: 40px;
    font-weight: 800;
    background-color: brown;
    border-radius: 10px;
    margin: 20px;
}
.main_list{
    text-align: center;
}